<div style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
  <span style='font-size: 40px;'>ðŸš€</span>
  <span style='font-weight: normal; font-size: 32px; color: #3AB77A;'>Desafio Creditas -</span>
  <span style='font-weight: bold; font-size: 32px; color: #3AB77A;'> Cientista de Dados Pleno</span>
</div>
<div style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
  <span style='font-weight: normal; font-size: 19px; color: #F;'>Etapa 2: analise para input NA</span>
</div>

<br><br>

<div style='color: #3AB77A; text-align: center; font-size: 28px; font-weight: bold'>
  <p>
    ConteÃºdo desse Notebook
  </p>
</div>
<div style='text-align: center; font-size: 20px;'>
  <span style='font-size: 20px;'>âœ…</span>
  <span>Analise da replicaÃ§Ã£o de nulos</p>
</div>
<div style='text-align: center; font-size: 20px;'>
  <span style='font-size: 20px;'>âœ…</span>
  <span>Analise do teste KS das features para ver necessidade de input</p>
</div>
<div style='text-align: center; font-size: 20px;'>
  <span style='font-size: 20px;'>âœ…</span>
  <span>Analise de features com nulos relacionadas com outras features</p>
</div>

In [2]:
import pandas as pd
import numpy as np
import sys, os

from scipy.stats import ks_2samp
from scipy.stats import pearsonr

sys.path.insert(0, os.path.abspath(".."))

pd.set_option('display.max_columns', 500)
from utils.eda_utils import (
    definition,
    get_all_information,
    summary_data,
    summary_data_cat,
    ks_test,
    ks_test_cat,
    check_proportion
)


import warnings
warnings.filterwarnings("ignore")

# Dessa vez utilizando a base bronze
df = pd.read_csv('../data/bronze_dataset.csv')
df = df[df['pre_approved'] == 1]

# get_all_information(df=df, column_filter='pre_approved', column_target='sent_to_analysis')

<br><br>

<div style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
  <span style='font-size: 30px;'>ðŸ“Š</span>
  <span style='font-weight: bold; font-size: 32px; color: #3AB77A;'>Analisando o impacto dos NA's</span>
</div>

<br>

<div style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
  <span style='font-weight: bold; font-size: 25px; color: #8ADAB4;'>Contexto</span>
</div>

<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Analisando a frequÃªncia de cada coluna e seus nulos perante o tamanho da base
</p>

In [2]:
summary_data(df=df)

Essa funÃ§Ã£o apenas analisa os casos int e float

,Coluna,num_missings,minimo,primeiro_quartil,mediana,media,terceiro_quartil,valores_distintos,tamanho_base,perc_missing
0,Unnamed: 0,0,7.0,9197.50,18013.0,18495.341346,29022.25,14976,14976,0.000000
1,id,0,98327.0,128620.00,145654.5,142719.429688,159339.75,14976,14976,0.000000
2,age,0,18.0,30.00,36.0,38.368657,46.00,72,14976,0.000000
3,monthly_income,0,0.0,2500.00,4000.0,11012.025456,6000.00,1474,14976,0.000000
4,collateral_value,0,0.0,17000.00,23000.0,49123.283245,33434.75,1679,14976,0.000000
5,loan_amount,0,2500.0,6000.00,10500.0,14675.170131,18900.00,1014,14976,0.000000
6,collateral_debt,5307,0.0,0.00,0.0,4382.690658,2000.00,725,14976,0.354367
7,verified_restriction,0,-1.0,0.00,0.0,0.136952,0.00,3,14976,0.000000
8,dishonored_checks,0,0.0,0.00,0.0,0.019030,0.00,2,14976,0.000000
9,expired_debts,0,0.0,0.00,0.0,0.002671,0.00,2,14976,0.000000
10,banking_debts,0,0.0,0.00,0.0,0.061298,0.00,2,14976,0.000000
11,commercial_debts,0,0.0,0.00,0.0,0.088742,0.00,2,14976,0.000000
12,protests,0,0.0,0.00,0.0,0.015158,0.00,2,14976,0.000000
13,informed_restriction,784,0.0,0.00,0.0,0.179608,0.00,2,14976,0.052350
14,monthly_payment,729,0.0,339.94,550.7,850.987450,838.69,2327,14976,0.048678
15,auto_year,0,1986.0,2008.00,2010.0,2010.033787,2013.00,30,14976,0.000000
16,pre_approved,0,1.0,1.00,1.0,1.000000,1.00,1,14976,0.000000
17,form_completed,0,0.0,0.00,0.0,0.278178,1.00,2,14976,0.000000
18,sent_to_analysis,0,0.0,0.00,0.0,0.217815,0.00,2,14976,0.000000

In [3]:
summary_data_cat(df=df)

Essa funÃ§Ã£o apenas analisa os casos int e float

,coluna,num_missings,valores_distintos,tamanho_base,perc_missing
0,city,0,2211,14976,0.000000
1,state,0,27,14976,0.000000
2,informed_purpose,582,8312,14976,0.038862
3,auto_brand,0,54,14976,0.000000
4,auto_model,0,1668,14976,0.000000
5,channel,565,9,14976,0.037727
6,zip_code,0,4381,14976,0.000000
7,landing_page,565,190,14976,0.037727
8,landing_page_product,5684,7,14976,0.379541
9,gender,1870,2,14976,0.124866
10,utm_term,10204,3,14976,0.681357
11,education_level,2881,9,14976,0.192374

<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Analisando impacto das variÃ¡veis no test KS das variÃ¡veis contÃ­nuas
</p>

In [ ]:
# Para testagem utilizei do input de -1 para as variÃ¡veis.

# O que notei Ã© que a monthly_payments tem poucos casos de missing
# Pouco importante seria inputar com um indicador de NA, por isso, utilizarei a mediana.

# Para a collateral_debt vou utilizar um indicador de NA dado ser alta a % de missing.

ks_test(df=df, y='sent_to_analysis', cols=['collateral_debt','monthly_payment'])

       explicativa        ks     p_valor_ks
0  collateral_debt  0.222874  8.586649e-112
1  monthly_payment  0.192175   5.438273e-83

<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Analisando variÃ¡veis categoricas do informed purpose e restriction
</p>

In [5]:
# HipÃ³tese de que informed_restriction dependesse diretamente de informed_purpose.

# Analisando os dados, pude notar que talvez nÃ£o seja tÃ£o criterioso o purpose.

# Portanto informed_restriction serÃ¡ inputado via -1 devido Ã  binaridade
# Para o informed_purpose devo utilizar a moda da base de treino para input.

print(df[df['informed_restriction'].isna()]['sent_to_analysis'].value_counts())
print(173 / (611 + 173))
print(df[['informed_purpose','informed_restriction']])

0.0    611
1.0    173
Name: sent_to_analysis, dtype: int64
0.22066326530612246
                      informed_purpose  informed_restriction
6               cobrir cheque especial                   0.0
10                      Pagar dÃ­vidas                    0.0
12     Pagamento de CartÃ£o de CrÃ©diito                   0.0
17     comprar um sitio de 20 tarefas                    0.0
21                       pagar dividas                   0.0
...                                ...                   ...
34787                              NaN                   1.0
34789                    pagar dividas                   1.0
34791     ampliar meu negocio feirante                   0.0
34792                  compra um carro                   0.0
34794                COMPRAR O VEICULO                   0.0

[14976 rows x 2 columns]

<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Analisando variÃ¡veis categoricas das landing pages
</p>
<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Foi notado que quando existia garantia-veiculo, havia NA no landing_page_product
</p>

In [6]:
df[df['landing_page_product'].isna()]['landing_page'].value_counts()[lambda x: x > 10]

/emprestimos/garantia-veiculo/solicitar                                        3504
/emprestimos/garantia-veiculo/guia-bolso                                        728
/usuarios/senha/editar                                                          125
/emprestimos                                                                     81
/blog/artigos/emprestimos/refinanciamento-de-veiculos-itau                       65
/blog/artigos/emprestimos/emprestimo-com-nome-sujo                               44
/blog/artigos/emprestimos/emprestimo-pessoal-sem-consulta-do-cpf-spc-serasa      34
/blog/artigos/emprestimos/fraude-na-solicitacao-de-emprestimo-cuidado            27
/usuarios/cadastro/criar                                                         27
/usuarios/entrar                                                                 27
/blog/artigos/emprestimos/emprestimo-com-nome-negativado                         23
/blog/artigos/investimentos/procon-lista-de-sites-nao-confiaveis                 21
/emprestimos/garantia-imovel/solicitar/                                          20
/blog/artigos/emprestimos/refinanciamento-de-veiculo-santander                   18
/blog/artigos/emprestimos/emprestimo-pessoal-losango-online                      18
/blog/artigos/emprestimos/emprestimo-para-autonomos-saiba-como-funciona          17
/blog/artigos/cartoes/cartao-de-credito-com-nome-negativado                      14
/blog/artigos/cartoes/cartao-de-credito-sem-consulta-ao-spc-e-serasa             14
/blog/artigos/emprestimos/refinanciamento-de-veiculos-bradesco                   13
/blog/artigos/emprestimos/simulacao-para-refinanciamento-de-veiculo              12
/blog/artigos/emprestimos/como-refinanciar-veiculo-com-restricao-no-cpf          12
/blog/artigos/emprestimos/emprestimo-com-garantia-de-veiculo-alienado            12
Name: landing_page, dtype: int64

In [7]:
# Fazendo o fillna dos casos baseado na feature de landing_page
# Posterior serÃ¡ eliminada a feature landing_page

lista_fill = [
    '/emprestimos/garantia-veiculo/solicitar',
    '/emprestimos/garantia-veiculo/guia-bolso',
    '/blog/artigos/emprestimos/emprestimo-com-garantia-de-veiculo-alienado'
]

df['landing_page_product'] = list(
    map(
        lambda x,y: 'GarantiaVeiculo' if y in lista_fill else x,
        df['landing_page_product'], df['landing_page']
    )
) ; df['landing_page_product'].isna().sum()

1440

<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Analisando variÃ¡veis categoricas das landing pages com o channel
</p>
<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Foi notado que quando channel null landing page tb Ã© null
</p>

In [ ]:
# Portando como vamos eliminar a landing page, channel deve permanecer com input fixo quando null.

print(df[df['channel'].isna()]['landing_page'].value_counts()[lambda x: x > 1])

df['channel'] = df['channel'].fillna('nao_conhecido')

Series([], Name: landing_page, dtype: int64)

In [9]:
# TambÃ©m notei que quando nÃ£o se Ã© conhecido o canal/landingPage
# NÃ£o se sabe tambÃ©m o landing_page_product

print(df[df['landing_page_product'].isna()]['channel'].value_counts()[lambda x: x > 10])
df['landing_page_product'] = list(
    map(
        lambda x, y: 'ProdutoDesconhecido' if x == 'nao_conhecido' else y,
        df['channel'], df['landing_page_product']
    )
)

nao_conhecido    565
seo              433
direct           191
referral         125
search            85
affiliates        34
Name: channel, dtype: int64

<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Analisando variÃ¡veis categoricas de genero e education_level
</p>
<p style='text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic; color: #8ADAB4; font-size: 20px;'>
  Foi notado que a frequencia do NaN pode influenciar na target
</p>

In [ ]:
# Com esse NA tem 7% a mais na de target do que female, estou adicionando apenas NaN
check_proportion(df=df, x='gender', target='sent_to_analysis')

df['gender'] = df['gender'].map({'male':1, 'female':0})
df['gender'] = df['gender'].fillna('-1')

      cat  target  nao_target      prop
0  female     850        3554  0.193006
1    male    1922        6780  0.220869
2     NaN     490        1380  0.262032

In [ ]:
# Aparentemente os NaN's podem estar misturando diversos casos de educaÃ§Ã£o, por isso, vou utilizar a moda
check_proportion(df=df, x='education_level', target='sent_to_analysis')

,cat,target,nao_target,prop
0,"Ensino mÃ©dio completo (antigo 2Âº grau, secundÃ¡...",1110,4526,0.196948
1,EducaÃ§Ã£o superior completa,890,1922,0.316501
2,NaN,623,2258,0.216244
3,Ensino fundamental completo (antigo 1Âº grau ou...,148,919,0.138707
4,4Âª sÃ©rie completa do ensino fundamental (antig...,25,140,0.151515
5,Da 5Âª Ã 8Âª sÃ©rie do ensino fundamental (antigo...,56,351,0.137592
6,EducaÃ§Ã£o superior incompleta.,266,741,0.264151
7,"Ensino mÃ©dio incompleto (antigo 2Âº grau, secun...",133,752,0.150282
8,AtÃ© a 4Âª sÃ©rie incompleta do ensino fundamenta...,11,93,0.105769
9,"Analfabeto, inclusive o que, embora tenha rece...",0,12,0.000000